.contents-container {
    display: flex;
    justify-content: center;
    font-family: 'Righteous', 'cursive';
    background: black;
    height: 100vh;
    width: 100vw;
    overflow: scroll;
}

p {
    letter-spacing: .5px;
}
span#input-color {
    color: #ffef00;
}

.canvas-title-container {
    display: flex;
    align-items: center;
}

.title-intro-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
}

.info {
    color: white;
    font-size: 18px;
}

.github-linkedin-container {
    color: white;
    display: flex;
    align-content: center;
}

.github {
    background-image: url("../dist/assets/images/GitHub-Mark-Light-32px.png");
    height: 32px;
    width: 32px;
    margin: 0 10px 0 0;
}

.linkedin {
    background-image: url("../dist/assets/images/In-White-34px-R.png");
    height: 34px;
    width: 34px;
    margin: 0 0 0 10px;
}